h1{
    font-family: $pt-mono;
    font-weight: $regular;
    font-size: $xxx-large;
    color: $black;
}

p{
font-family: $playfair;
font-size: medium;
color: $outer-space;
}

h2{
    font-family: $pt-mono;
    font-weight: $regular;
    font-size: $x-large;
}