// esquema de colores
//primer esquema de color
$white: #ffffff;
$isabelline: #eeeded;
$spanish-gray: #989797;

//segundo esquema de color
$coral: #fa824c;
$buff: #f1dd7b;
$vanilla: #f5e7a1;

//tercer esquema de color
$flame: #e4572e;
$light-red-ochre: #e87554;
$pastel-pink: #f2b2a0;

//quinto esquema de color
$shiny-shamrock: #4ca866;
$turquoise-green: #9dcfab;
$pastel-gray: #bddfc7;

//cuarto esquema de color
$blue-de-france: #3c91e6;
$blue-jeans: #5fa5ea;
$jordy-blue: #82b9ef;

//quinto esquema de color
$black: #000000;
$outer-space: #454545;
$quicksilver: #a2a2a2;

//tipografia
$pt-mono: 'PT Mono', monospace;;
$playfair: 'Playfair Display', serif;

//peso de fuente
$light:300;
$regular: 400;

//tamaño de fuente
$xxx-large: 4.375rem;
$xx-large: 2.5rem;
$x-large: 1.875rem;
$lage: 1.125rem;
$medium: 1rem;
