.caja{
    height: 264px;
    display: block;
    background-color: brown;
    float: left;
    position: relative;
}

.we-us{
    width: 100%;
    height: 264px;
    margin:0;

    &-caja-informacion{
        width: 381px;
        @extend .caja;
    
    }
    &-caja-mapa{
    width: 518px;
    @extend .caja;
        
    }

    &-caja-imagen{
        width: 381px;
        @extend .caja;   
    }

    &-info{
        width: 100%;
        padding:4rem 2rem; 
        display: inline;
        box-sizing: border-box;
        height: 264px;
        background-color:yellow;
        display:block;
        
        p{
            margin-top: 10px;
        }
    }

    &-map {
        width: 396px;
        height: 210px;
        z-index: 2;
        position:absolute;
        margin-top: 45px;

        img{
            width: 100%;
        }
    }

    &-color {
        width: 381px;
        height: 210px;
        background-color: aqua;
        position: absolute;
        z-index:1;
        margin-left:137px;
    }
    
    &-cafe {
        width: 90px;
        height: 150px;
        z-index:2;
        margin-left: 30rem;
        position: absolute;
        background-image: url('../img/img-3.png');
       background-position: left;
       background-repeat: no-repeat;
       background-size: cover;
           /* img{
              width: 100%;
            }*/
    }

    &-img {
        width: 381px;
        height: 100%;
        margin: 0;
        position: absolute;
        z-index: 1;
        
        img{
            width: 100%;
            height:100%;
        }
        
    }
}
